
        <h1>게시판 입니다.</h1>
        <a href="/">홈으로 가기</a>
        <form action="/posts/create">
            제목 : <input type="text" name="title"/> <br>
            내용 : <input type="text" name="body"/> <br>
            <input type="submit" value="작성하기"/>
        </form>

